scipy
pandas
matplotlib
seaborn
scikit-learn
tensorflow==2.16.2
numpy<2.0
opencv-python<4.10
torch
torchvision
torchaudio
transformers
datasets
jupyterlab
notebook
ipython
tqdm
joblib
requests
plotly
pillow
xgboost
lightgbm
catboost
